<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag("twitter.svg", :alt => "Tweets", :width => "30", :height => "24", :class => "d-inline-block align-text-top") %>
      Tweets
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 150px;">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Twitter", "https://twitter.com", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
                <%= link_to "About", about_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex navbar">
        <a class="nav-link bg-dark rounded-pill text-white" href="#">Login</a>
        <%= link_to "Register", register_path, class: "nav-link text-dark" %>
      </div>
    </div>
  </div>
</nav>